.goodList-container{
  display: flex;
  flex-flow: column nowrap;
  background-color: #f0f0f0;
}
.goodList-header{
  width: 100%;
}
.goodList-content{
  width: 100%;
  min-height: 1450px;
  // background-color: #f7f7f7;
  // background-color: #f0f0f0;
  margin-top: 10px;
  // background-color: #dedede;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}